body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("QuinqueFive"),
    url("./font/QuinqueFive.ttf") format("truetype");
}

.App {
  background: linear-gradient(180deg, rgba(103,0,151,1) 0%, rgba(45,0,66,1) 100%);
  font-family: "Light";
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.Footer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 15px;
}

.Footer small {
  text-align: center;
}

.Header {
  width: 100vw;
  height: 100px;
  margin: 0;
  line-height: 100px;
  font-size: 24px;
}

.Main {
  min-width: 300px;
}

.Back {
  margin: 0px 15px;
  height: fit-content;
  padding: 20px 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgba(217, 217, 217, 0.30);
  border-radius: 40px;
  box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  min-width: 320px;
  max-width: 350px;
  max-height: calc(100vh - 100px - 60px);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Back::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Card {
  margin-bottom: 15px;
  width: 100%;
  height: 110px;
  background: rgba(217, 217, 217, 0.20);
  border-radius: 40px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .25);
  display: flex;
  align-items: center;
  align-content: center;
  transition: .2s linear;
  overflow: hidden;
  animation: Card-Show 1s ease-out;
  /*backdrop-filter: blur(5px);*/
}

.Card:hover {
  background: rgba(217, 217, 217, 0.50);
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, .35);
  margin-left: 10px;
}

@keyframes Card-Show {
  0% {width: 90px;}
  100% {width: 100%;}
}

.Card .Icon-Box {
  margin: calc( ( 110px - 60px ) / 2 ) 15px;
  display: inline;
}

.Card .Text {
  overflow-wrap: break-word;
}

.Icon > path {
  fill: white;
}

.Source-Link {
  color: white;
}

.Link-Icon {
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

.Card-Link {
  text-decoration: none;
  color: inherit;
}

/* phones */
@media (max-width: 410px) {
  .Footer {
    bottom: 2px;
  }
}

/* tablets and pc/notebook */
@media (min-width: 410px) {
  .Card .Text {
    font-size: 100%;
  }
  .Back {
    margin: auto;
  }
  .Footer {
    bottom: 15px;
  }
}